@font-face {
    font-family: 'Optima LT Std';
    src: url('OptimaLTStd-Bold.woff2') format('woff2'),
        url('OptimaLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abril Display';
    src: url('AbrilDisplay-BoldItalic.woff2') format('woff2'),
        url('AbrilDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

